<div class="Login_OptionPanel">
	<h3>비밀번호 찾기 <mat-icon (click)="close()">close</mat-icon></h3>
	<p>이메일를 입력해주세요.</p>
	<p>아이디를 분실하신 경우 관리자에게 문의하세요.</p>

	<mat-form-field appearance="legacy">
    <mat-label>아이디</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <input matInput placeholder="js1234@example.com" [(ngModel)]="emailText" required>
    <mat-hint>이메일를 입력해주세요.</mat-hint>
    </mat-form-field>


    <div class="Login_OptionPanelButtonBox">
		<button mat-stroked-button (click)="close()">취소</button>
		<button mat-stroked-button class="NextBtn" (click)="passwdFind(emailText)">비밀번호 찾기</button>
	</div>
</div>
