
<div class="Admin_Option_Dialog">
	<h3><mat-icon class="Dialog_TitleIcon2">edit_notifications</mat-icon> <strong>{{pageName}} 수정</strong> <mat-icon (click)="close()" class="Dialog_closeBtn">close</mat-icon></h3>

	<div class="Admin_Notice_ModifyBox">
				<mat-form-field appearance="outline" *ngIf="pageName != '게시물'">
				<mat-label>분류</mat-label>
				<mat-select required [(ngModel)]="classification" >
					<mat-option value="[공모주]">[공모주]</mat-option>
					<mat-option value="[수익인증]">[수익인증]</mat-option>
					<mat-option value="[일정]">[일정]</mat-option>
          <mat-option value="[스팩주]">[스팩주]</mat-option>
				  </mat-select>
				  <mat-hint>분류 추가 관리자 문의</mat-hint>
				</mat-form-field>

        <mat-form-field appearance="outline" *ngIf="pageName == '게시물'">
          <mat-label>그룹</mat-label>
          <mat-select multiple required [(ngModel)]="choiceGroup">
            <mat-option *ngFor="let groupName of data.allGroupData" [value]="groupName">
              {{groupName}}
            </mat-option>
            </mat-select>
        </mat-form-field>

   				<mat-form-field appearance="outline">
   				<mat-label>제목</mat-label>
   				<input matInput #NoticeName placeholder={{pagePlaceholder}} [(ngModel)]="title" required>
   				</mat-form-field>

		<angular-editor [(ngModel)]="content" [config]="config"></angular-editor>
	</div>

    <div class="Admin_Option_DialogButtonBox">
		<button mat-stroked-button (click)="close()">취소</button>
		<button mat-stroked-button class="NextBtn"(click)="save()">적용</button>
	</div>
</div>
