
<div class="Admin_Option_Dialog">
	<h3><mat-icon class="Dialog_TitleIcon2">drive_file_rename_outline</mat-icon> <strong>주식 수정</strong> <mat-icon (click)="close()" class="Dialog_closeBtn">close</mat-icon></h3>

	<div class="Admin_Stock_OptionBox">
				<mat-form-field appearance="outline">
   				<mat-label>종목코드</mat-label>
   				<input matInput placeholder="종목코드" required [(ngModel)]="stockCode">
   				</mat-form-field>

   				<mat-form-field appearance="outline">
   				<mat-label>종목명</mat-label>
   				<input matInput placeholder="종목명" required [(ngModel)]="stockName">
   				</mat-form-field>

   				<mat-form-field appearance="outline">
   				<mat-label>현재가</mat-label>
   					<span matPrefix>₩&nbsp;</span>
					<input matInput placeholder="0" [(ngModel)]="currentPrice" disabled>
					<span matSuffix>&nbsp;원</span>
   				</mat-form-field>

   				<mat-form-field appearance="outline">
   				<mat-label>매수 단가</mat-label>
   					<span matPrefix>₩&nbsp;</span>
					<input matInput placeholder="0" [(ngModel)]="buyingPrice">
					<span matSuffix>&nbsp;원</span>
   				</mat-form-field>

   				<mat-form-field appearance="outline">
   				<mat-label>수익률</mat-label>
					<input matInput [(ngModel)]="yield" disabled>
					<span matSuffix>&nbsp;%</span>
   				</mat-form-field>

   				<mat-form-field appearance="outline" class="SeletedOpiton">
					<mat-label>그룹 권한</mat-label>
					<mat-select multiple required [(ngModel)]="groupModel">
					  <mat-option *ngFor="let group of data.groupData" value="{{group}}">{{group}}</mat-option>
					</mat-select>
				  </mat-form-field>

   				<mat-form-field appearance="outline">
   				    <mat-label>매도 단가</mat-label>
					<span matPrefix>₩&nbsp;</span>
					<input matInput [(ngModel)]="sellingPrice" disabled>
					<span matSuffix>&nbsp;원</span>
				</mat-form-field>

	</div>

    <div class="Admin_Option_DialogButtonBox">
		<button mat-stroked-button (click)="close()">취소</button>
		<button mat-stroked-button class="NextBtn"(click)="save()">적용</button>
	</div>
</div>
