
<div class="Admin_Option_Dialog">
	<h3><mat-icon class="Dialog_TitleIcon2">drive_file_rename_outline</mat-icon> <strong>주식 수정</strong> <mat-icon (click)="close()" class="Dialog_closeBtn">close</mat-icon></h3>
	
	<div class="Admin_Stock_OptionBox">
				<mat-form-field appearance="outline">
   				<mat-label>종목코드</mat-label>
   				<input matInput placeholder="종목코드" required value="290520">
   				</mat-form-field>
			
   				<mat-form-field appearance="outline">
   				<mat-label>종목명</mat-label>
   				<input matInput placeholder="종목명" required value="이엔에프테크놀로지">
   				</mat-form-field>
   				
   				<mat-form-field appearance="outline">
   				<mat-label>현재가</mat-label>
   					<span matPrefix>₩&nbsp;</span>
					<input matInput placeholder="0" value="16,000">
					<span matSuffix>&nbsp;원</span>
   				</mat-form-field>
   				
   				<mat-form-field appearance="outline">
   				<mat-label>매입 단가</mat-label>
   					<span matPrefix>₩&nbsp;</span>
					<input matInput placeholder="0" value="17,000">
					<span matSuffix>&nbsp;원</span>
   				</mat-form-field>
   				
   				<mat-form-field appearance="outline">
   				<mat-label>수익률</mat-label>   				
					<input matInput value="- 10.60">
					<span matSuffix>&nbsp;%</span>
   				</mat-form-field>
   				
   				<mat-form-field appearance="outline">
					<mat-label>그룹 권한</mat-label>
					<mat-select multiple required [(ngModel)]="selectedObjects">
					  <mat-option value="Group0">전체</mat-option>
					  <mat-option value="Group1">관리자</mat-option>
					  <mat-option value="Group2">특별회원</mat-option>
					  <mat-option value="Group3">일반회원</mat-option>
					</mat-select>
				  </mat-form-field>
   				
   				<mat-form-field appearance="outline">
   				    <mat-label>매도 단가</mat-label>
					<span matPrefix>₩&nbsp;</span>
					<input matInput value="0">
					<span matSuffix>&nbsp;원</span>
				</mat-form-field>
	
	</div>
   
    <div class="Admin_Option_DialogButtonBox">
		<button mat-stroked-button (click)="close()">취소</button>
		<button mat-stroked-button class="NextBtn"(click)="close()">적용</button>
	</div>
</div>