
<div class="Admin_Option_Dialog">
	<h3><mat-icon class="Dialog_TitleIcon">warning</mat-icon> <strong>정말 삭제하시겠습니까?</strong> <mat-icon (click)="close()" class="Dialog_closeBtn">close</mat-icon></h3>

	<div class="Notice_DeletePanel">
		<div class="Notice_DeletePanel_Text">
			<div class="Notice_DeletePanel_Left">
				<mat-icon>delete_outline</mat-icon>
			</div>
			<div class="Notice_DeletePanel_Right">
				<p><em>{{data.classification}}</em> <span>{{data.title}}</span> <em>{{data.name}}</em> <em>{{data.created_at}}</em></p>
				<h3>삭제 후에는 복구할 수 없습니다.</h3>
			</div>
		</div>

	</div>

    <div class="Admin_Option_DialogButtonBox">
		<button mat-stroked-button (click)="close()">취소</button>
		<button mat-stroked-button class="AddBtn"(click)="Delete()">삭제</button>
	</div>
</div>
