<div class="User_Option_Dialog">
	<h3><span>[{{data.unit}}월]</span> <strong>{{data.title}} 결산 내역</strong> <mat-icon (click)="close()">close</mat-icon></h3>
  <mat-form-field appearance="fill">
    <mat-label>그룹 선택</mat-label>
    <mat-select [(value)]="selectGroup">
      <mat-option *ngFor="let groupName of GroupData" [value]="groupName" (click)="stockGroupChange(groupName)">
        {{groupName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
	<p>총 수익률 <span> {{totalYield}}%</span></p>

	<div class="User_Completion_Detail_TableBox">
		<table mat-table [dataSource]="tableRowData">

			<ng-container matColumnDef="code">
				<th mat-header-cell *matHeaderCellDef style="text-align: center; width: 100px"> 종목코드 </th>
				<td mat-cell *matCellDef="let element" style="text-align: center; width: 100px"> {{element.code}} </td>
			</ng-container>

			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef style=" text-align: center; width: 100px"> 종목명 </th>
				<td mat-cell *matCellDef="let element" style=" text-align: center; width: 100px"> {{element.name}} </td>
			</ng-container>

			<ng-container matColumnDef="buyingPrice">
				<th mat-header-cell *matHeaderCellDef style="text-align: center; width: 100px"> 매수가 </th>
				<td mat-cell *matCellDef="let element" style="text-align: center; width: 100px"> {{numChange(element.buyingPrice)}} </td>
			</ng-container>

			<ng-container matColumnDef="sellingPrice">
				<th mat-header-cell *matHeaderCellDef style="text-align: center; width: 100px"> 매도가 </th>
				<td mat-cell *matCellDef="let element" style="text-align: center; width: 100px"> {{numChange(element.sellingPrice)}} </td>
			</ng-container>

			<ng-container matColumnDef="yield">
				<th mat-header-cell *matHeaderCellDef style="text-align: center; width: 100px"> 수익률 </th>
				<td mat-cell *matCellDef="let element" style="text-align: center; width: 100px" class="{{element.yield >0? 'PlusNumber' : 'MinusNumber'}}"> {{element.yield}} %</td>
			</ng-container>

			<ng-container matColumnDef="Data">
				<th mat-header-cell *matHeaderCellDef style="text-align: center; width: 150px"> 기간 </th>
				<td mat-cell *matCellDef="let element" style="text-align: center; width: 150px"> {{element.created_at + "~"+element.updated_at}} </td>
			</ng-container>

			<ng-container matColumnDef="Action" *ngIf="data.userGroup =='관리자'" >
				<th mat-header-cell *matHeaderCellDef style="text-align: center; width: 200px"> 기능 </th>
				<td mat-cell *matCellDef="let element" style="text-align: center; width: 200px">
				<button mat-stroked-button class="RedBtn" (click)="Stock_Remove(element)">삭제</button>
		    <button mat-stroked-button class="AddBtn"  (click)="Stock_Modify(element)">수정</button>

				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

		</table>
	</div>

    <div class="User_Option_DialogButtonBox">

		<button mat-stroked-button (click)="close()">취소</button>
	</div>
</div>
