<div class="User_MenuPanel">

	<div class="User_MenuPanel_Title">
		<h3><mat-icon>trending_up</mat-icon> 추천주</h3>

		<div class="User_Recommended_Allbox">
			<mat-form-field appearance="outline">
				<mat-label>총 수익률</mat-label>
				  <mat-icon matPrefix>point_of_sale</mat-icon>
				 	<input matInput value="0" readonly disabled class="User_Total_Value">
						<span matSuffix>&nbsp;%</span>
			  </mat-form-field>
			  <!-- <button mat-stroked-button  class="AddBtn">새로고침</button> -->
		</div>

	</div>

	<div class="User_Recommended_TableBox">

	<table mat-table [dataSource]="tableRowData">

	  <ng-container matColumnDef="number" sticky>
		<th mat-header-cell *matHeaderCellDef style="width: 35px; text-align: center; padding: 0 2vw;"> # </th>
		<td mat-cell *matCellDef="let element" style="width: 35px; text-align: center; padding: 0 2vw;"> {{element.number}} </td>
	  </ng-container>


	  <ng-container matColumnDef="code" sticky>
		<th mat-header-cell *matHeaderCellDef style="width: calc(10vw); text-align: center; padding: 0 2vw;"> 종목코드 </th>
		<td mat-cell *matCellDef="let element" style="width: calc(10vw); text-align: center; padding: 0 2vw;"> {{element.code}} </td>
	  </ng-container>

	  <ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef style="width: calc(20vw - 35px); text-align: center; padding: 0 2vw;"> 종목명 </th>
		<td mat-cell *matCellDef="let element" style="width: calc(20vw - 35px); text-align: center; padding: 0 2vw;"> {{element.name}} </td>
	  </ng-container>


	  <ng-container matColumnDef="currentPrice">
		<th mat-header-cell *matHeaderCellDef style="width: 14vw; text-align: center; padding: 0 2vw;"> 현재가 </th>
		<td mat-cell *matCellDef="let element" style="width: 14vw; text-align: center; padding: 0 2vw;"> {{numChange(element.currentPrice)}} </td>
	  </ng-container>


	  <ng-container matColumnDef="buyingPrice">
		<th mat-header-cell *matHeaderCellDef style="width: 14vw; text-align: center; padding: 0 2vw;"> 매수 단가 </th>
		<td mat-cell *matCellDef="let element" style="width: 14vw; text-align: center; padding: 0 2vw;"> {{numChange(element.buyingPrice)}} </td>
	  </ng-container>

    <ng-container matColumnDef="group" *ngIf="userGroup =='관리자'">
      <th mat-header-cell *matHeaderCellDef style="width: 14vw; text-align: center; padding: 0 2vw;"> 그룹 </th>
      <td mat-cell *matCellDef="let element" style="width: 14vw; text-align: center; padding: 0 2vw;"> {{element.group}} </td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef style="width: 14vw; text-align: center; padding: 0 2vw;"> 추천 일자 </th>
      <td mat-cell *matCellDef="let element" style="width: 14vw; text-align: center; padding: 0 2vw;"> {{element.created_at}} </td>
      </ng-container>

	  <ng-container matColumnDef="yield">
		<th mat-header-cell *matHeaderCellDef style="width: 14vw; text-align: center; padding: 0 2vw;"> 수익률 </th>
		<td mat-cell *matCellDef="let element" style="width: 14vw; text-align: center; padding: 0 2vw; font-weight: bold;" class="{{element.yield >0? 'PlusNumber' : 'MinusNumber'}}"> {{element.yield}} %</td>
	  </ng-container>


	  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>


  <div *ngIf="tableRowData.filteredData.length>0">
    <tr class="Search_resulttext" *matNoDataRow>
      <td class="mat-cell" colspan="8">
      <mat-icon>search_off</mat-icon>
      <p>"{{input.value}}"에 대한 검색결과가 없습니다.</p>
      </td>
    </tr>
  </div>
  <div *ngIf="stockInfoData.length==0">
    <tr class="Search_resulttext" *matNoDataRow>
      <td class="mat-cell" colspan="8">
         <mat-progress-spinner  *ngIf="isLoading==true" mode="indeterminate" >
      </mat-progress-spinner>
      <p *ngIf="isLoading==true">추천주를 불러오는 중입니다.</p>
      <p *ngIf="isLoading==false">추천주가 없습니다.</p>
      </td>
    </tr>
  </div>
	</table>
	</div>

	<div class="User_Recommended_Search">
		<mat-form-field appearance="outline">
			<mat-label>검색</mat-label>
			<input matInput (keyup)="applyFilter($event)" placeholder="검색어를 입력해주세요." #input>
			<button mat-icon-button matSuffix >
			  <mat-icon>search</mat-icon>
			</button>
		</mat-form-field>


	</div>

	<mat-paginator [pageSize]="10" showFirstLastButtons>
	</mat-paginator>


</div>




