<div class="Admin_MenuPanel">

	<div class="Admin_MenuPanel_Title">
		<h3><mat-icon>group</mat-icon> 그룹 관리</h3>
	</div>

	<div class="Admin_Group_UserList">
	    	<mat-accordion multi>
			  <mat-expansion-panel *ngFor="let group of groupArray">
				<mat-expansion-panel-header>
				  <mat-panel-title>
            {{group.name}}
				  </mat-panel-title>
				  <mat-panel-description>
            {{group.updated_at}}
				  </mat-panel-description>
				</mat-expansion-panel-header>
				<p><mat-icon>list</mat-icon>그룹 유저 리스트 <span><em *ngIf="groupUserData[group.name]">{{groupUserData[group.name].length}}</em>명</span></p>
				<mat-list #Notice_Group1>
				  <mat-list-item *ngFor="let user of groupUserData[group.name]">
						<div mat-line class="Admin_Group_UserList_ID">{{user.email}}</div>
						<div mat-line class="Admin_Group_UserList_Name">{{user.name}} / {{user.phone}}</div>
				        <button mat-icon-button [matMenuTriggerFor]="Admin_Group_OptionMenu" (click)="listClick(user)"><mat-icon mat-list-icon>more_vert</mat-icon></button>
				  </mat-list-item>
				</mat-list>
				<div class="Admin_Option_ButtonBox">
					<button mat-stroked-button (click)="Group_Edit()">그룹 수정</button>
					<button mat-stroked-button (click)="Group_Remove()" class="NextBtn">그룹 삭제</button>
				</div>
			  </mat-expansion-panel>
			</mat-accordion>
	    </div>

	<div class="Admin_Group_EditBox">
			<mat-form-field appearance="outline">
				<mat-label>그룹명</mat-label>
				<input matInput placeholder="그룹명을 입력해주세요." [(ngModel)]="createGroupName">
				<mat-hint>그룹명은 중복이 불가합니다.</mat-hint>
			</mat-form-field>
			<button mat-stroked-button class="NextBtn" (click)="createGroup()">그룹 생성</button>
		</div>
</div>

<mat-menu #Admin_Group_OptionMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="Admin_Group_ListMenu">
    <mat-icon>group_add</mat-icon>
    <span>그룹 이동</span>
  </button>
  <button mat-menu-item (click)="User_Remove()">
    <mat-icon>person_remove</mat-icon>
    <span>회원 삭제</span>
  </button>
  <button mat-menu-item (click)="User_Edit()">
    <mat-icon>account_box</mat-icon>
    <span>회원 수정</span>
  </button>
</mat-menu>

<mat-menu #Admin_Group_ListMenu="matMenu">
  <button mat-menu-item (click)="moveGroup('관리자')">
    <span>관리자</span>
  </button>
  <button mat-menu-item (click)="moveGroup('일반회원')">
    <span>일반회원</span>
  </button>
  <button mat-menu-item (click)="moveGroup('특별회원')">
    <span>특별회원</span>
  </button>
</mat-menu>
