<div class="Admin_MenuPanel">

	<div class="Admin_MenuPanel_Title">
		<h3><mat-icon>edit_notifications</mat-icon> 공지사항 관리</h3>
	</div>

			<div class="Admin_Notice_Edit_SeachBox">
			<mat-form-field appearance="outline"  class="AdminNotice_Edit_SearchFiled">
			  <mat-label>공지사항 검색</mat-label>
			  <mat-icon matPrefix>notifications</mat-icon>
			  <input matInput (keyup)="applyFilter($event)" placeholder="검색어" #input>
			  <button mat-icon-button matSuffix >
   				  <mat-icon>search</mat-icon>
   			  </button>
			</mat-form-field>
			<button mat-stroked-button  class="AddBtn" (click)="Notice_Add()">새 게시물</button>
			<mat-form-field appearance="outline" class="AdminNotice_Edit_SubFiled">
			<mat-label>분류 이동</mat-label>
			<mat-select [(ngModel)]="classification">
			  <mat-option value="[일정]">[일정]</mat-option>
			  <mat-option value="[공모주]">[공모주]</mat-option>
			  <mat-option value="[수익인증]">[수익인증]</mat-option>
			</mat-select>
		  </mat-form-field>
		  <button mat-stroked-button class="NextBtn"(click)="CheckClassification()" matBadge="{{selection.selected.length}}" [matBadgeHidden]="selection.selected.length===0" matBadgePosition="after">적용</button>
		  <mat-form-field appearance="outline"  class="AdminNotice_Edit_SubFiled">
			<mat-label>일괄 기능</mat-label>
			<mat-select [(ngModel)]="quickActionValue">
			  <mat-option value="삭제">삭제</mat-option>
			</mat-select>
		  </mat-form-field>
		  <button mat-stroked-button  class="NextBtn" (click)="CheckQuickAction()" matBadge="{{selection.selected.length}}" [matBadgeHidden]="selection.selected.length===0" matBadgePosition="after">적용</button>
		</div>

	<div class="Admin_Notice_EditBox">

	<table mat-table [dataSource]="tableRowData">

	   <ng-container matColumnDef="select" sticky>
    <th mat-header-cell *matHeaderCellDef class="Table_AllCheckBox" style="text-align: center;">
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" class="Table_CheckBox" style="text-align: center;">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                    >
      </mat-checkbox>
    </td>
  </ng-container>

	  <ng-container matColumnDef="Number" sticky>
				<th mat-header-cell *matHeaderCellDef style="width: 50px; text-align: center"> # </th>
				<td mat-cell *matCellDef="let element;let i=index" style="width: 50px; text-align: center"> {{i+1}} </td>
		</ng-container>

	  <ng-container matColumnDef="classification" sticky>
		<th mat-header-cell *matHeaderCellDef style="width: calc(20vw); text-align: center; padding: 0 2vw;"> 분류 </th>
		<td mat-cell *matCellDef="let element" style="width: calc(20vw); text-align: center; padding: 0 2vw;"> {{element.classification}} </td>
	  </ng-container>

	  <ng-container matColumnDef="title" sticky>
		<th mat-header-cell *matHeaderCellDef style="width: calc(20vw); text-align: center; padding: 0 2vw;"> 제목 </th>
		<td mat-cell *matCellDef="let element" style="width: calc(20vw); text-align: center; padding: 0 2vw;"> {{element.title}} </td>
	  </ng-container>


	  <ng-container matColumnDef="author">
		<th mat-header-cell *matHeaderCellDef style="width: calc(20vw); text-align: center; padding: 0 2vw;"> 게시자 </th>
		<td mat-cell *matCellDef="let element" style="width: calc(20vw); text-align: center; padding: 0 2vw;"> {{element.author}} </td>
	  </ng-container>


	  <ng-container matColumnDef="created_at">
		<th mat-header-cell *matHeaderCellDef style="width: calc(20vw - 100px); text-align: center; padding: 0 2vw;"> 게시일 </th>
		<td mat-cell *matCellDef="let element" style="width: calc(20vw - 100px); text-align: center; padding: 0 2vw;"> {{element.created_at}} </td>
	  </ng-container>


	  <ng-container matColumnDef="action" sticky>
		<th mat-header-cell *matHeaderCellDef style="width: calc(20vw); text-align: center; padding: 0 2vw;"> 기능 </th>
		<td mat-cell *matCellDef="let element" style="width: calc(20vw); text-align: center; padding: 0 2vw;">

		<button mat-stroked-button (click)="Notice_Detail($event.stopPropagation(),element.classification,element.title,element.content)">보기</button>
		<button mat-stroked-button (click)="Notice_Modify($event.stopPropagation(),element.classification,element.title,element.content,element.id)" class="AddBtn">수정</button>
		<button mat-stroked-button (click)="Notice_Delete($event.stopPropagation(),element.classification,element.title,element.name,element.created_at,element.id)" class="RedBtn">삭제</button>


		</td>
	  </ng-container>

	  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>


	  <tr class="Search_resulttext" *matNoDataRow>
				<td class="mat-cell" colspan="8">
				<mat-icon>search_off</mat-icon>
				<p>"{{input.value}}"에 대한 검색결과가 없습니다.</p>
				</td>
	</tr>
	</table>

	</div>
</div>
