
<div class="Admin_Option_Dialog">
	<h3><mat-icon class="Dialog_TitleIcon2">drive_file_rename_outline</mat-icon> <strong>주식 수정</strong> <mat-icon mat-dialog-close class="Dialog_closeBtn">close</mat-icon></h3>

	<div class="Admin_Stock_OptionBox">
    <mat-form-field appearance="outline">
      <mat-label>종목코드</mat-label>
      <input matInput placeholder="종목코드" [(ngModel)]="stockCode" required readonly>
      </mat-form-field>

      <mat-form-field appearance="outline">
      <mat-label>종목명</mat-label>
      <input matInput placeholder="종목명" [(ngModel)]="stockName" required readonly>
      </mat-form-field>

      <mat-form-field appearance="outline">
      <mat-label>매수 단가</mat-label>
        <span matPrefix>₩&nbsp;</span>
     <input matInput placeholder="0" [(ngModel)]="buyingPrice" value="0">
     <span matSuffix>&nbsp;원</span>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>매도가</mat-label>
        <span matPrefix>₩&nbsp;</span>
        <input matInput [(ngModel)]="sellingPrice" value="00" required>
        <span matSuffix>&nbsp;원</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>수익률</mat-label>
        <input matInput placeholder="수익률" [(ngModel)]="yieldData" required readonly>
      </mat-form-field>

      	<mat-form-field appearance="outline">
      	<mat-label>시작 날짜</mat-label>
        <input matInput  [matDatepicker]="Created_at" value="{{this.created_at}}" (dateInput)="subscription($event.value,'created_at')" readonly style="display: none;">
        <span class="Subscription_Result SR_{{this.created_at}}">{{this.created_at}}</span>
        <mat-datepicker touchUi #Created_at ></mat-datepicker>
        </mat-form-field>
        
      <mat-form-field appearance="outline">
       <mat-label>종료 날짜</mat-label>
        <input matInput  [matDatepicker]="Updated_at" value="{{this.updated_at}}" (dateInput)="subscription($event.value,'updated_at')" readonly style="display: none;">
        <span class="Subscription_Result SR_{{this.updated_at}}">{{this.updated_at}}</span>
        <mat-datepicker touchUi #Updated_at ></mat-datepicker>
        </mat-form-field>

      

      <mat-form-field appearance="outline" class="SeletedOpiton">
     <mat-label>그룹 권한</mat-label>
     <mat-select multiple required [(ngModel)]="selectedObjects">
       <mat-option *ngFor="let group of GroupData" value="{{group}}">{{group}}</mat-option>
     </mat-select>
     </mat-form-field>



	</div>

    <div class="Admin_Option_DialogButtonBox">
        <button mat-stroked-button (click)="Created_at.open()" class="AddBtn">시작 날짜</button>
        <button mat-stroked-button (click)="Updated_at.open()" class="RedBtn">종료 날짜</button>
		<button mat-stroked-button mat-dialog-close>취소</button>
		<button mat-stroked-button class="NextBtn" (click)="Save()">적용</button>
	</div>
</div>
