
<div class="Admin_Option_Dialog">
	<h3><mat-icon class="Dialog_TitleIcon2">add_alert</mat-icon> <strong>새 공지사항 작성</strong> <mat-icon (click)="close()" class="Dialog_closeBtn">close</mat-icon></h3>
	
	<div class="Admin_Notice_ModifyBox">
				<mat-form-field appearance="outline">
				<mat-label>분류</mat-label>
				<mat-select required>
					<mat-option value="position1">[공모주]</mat-option>
					<mat-option value="position2">[수익인증]</mat-option>
					<mat-option value="position3">[일정]</mat-option>
				  </mat-select>
				  <mat-hint>분류 추가 관리자 문의</mat-hint>
				</mat-form-field>
			
   				<mat-form-field appearance="outline">
   				<mat-label>제목</mat-label>
   				<input matInput #NoticeName maxlength="10" placeholder="공지사항 제목" required>
   				<mat-hint align="end">{{NoticeName.value?.length || 0}}/10</mat-hint>
   				</mat-form-field>
	
		<angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
	</div>
   
    <div class="Admin_Option_DialogButtonBox">
		<button mat-stroked-button (click)="close()">취소</button>
		<button mat-stroked-button class="NextBtn"(click)="close()">추가</button>
	</div>
</div>