<div class="Admin_notice">

	<div class="Admin_notice_Title">	
		<h3><mat-icon>notification_add</mat-icon> 그룹별 알림</h3>
	</div>
	
	
	<mat-tab-group>
  
	  <mat-tab label="전체"> 
	    <div class="Admin_notice_UserList"></div>
		<div class="Admin_Notice_SendBox">
			<mat-form-field appearance="outline">
				<mat-label>알림메세지</mat-label>
				<textarea cdkTextareaAutosize cdkAutosizeMinRows="1.2" cdkAutosizeMaxRows="5" matInput placeholder="알림메세지를 입력해주세요." 
				#AllUser_message maxlength="720"></textarea>
				<mat-hint align="start"><strong>720자 내외로 메세지 작성이 가능합니다.</strong> </mat-hint>
    			<mat-hint align="end">{{AllUser_message.value.length}} / 720</mat-hint>
			</mat-form-field>
			<button mat-stroked-button class="NextBtn">메세지 전송</button>
		</div>
	  </mat-tab>
	  
	  <mat-tab label="관리자">
	   <div class="Admin_Notice_SendBox">
			<mat-form-field appearance="outline">
				<mat-label>알림메세지</mat-label>
				<textarea cdkTextareaAutosize cdkAutosizeMinRows="1.2" cdkAutosizeMaxRows="5" matInput placeholder="알림메세지를 입력해주세요."
						  #Group1_message maxlength="720"></textarea>
				<mat-hint align="start"><strong>720자 내외로 메세지 작성이 가능합니다.</strong> </mat-hint>
    			<mat-hint align="end">{{Group1_message.value.length}} / 720</mat-hint>
			</mat-form-field>
			<button mat-stroked-button class="NextBtn">메세지 전송</button>
		</div>
		
	  </mat-tab>
	  
	  <mat-tab label="특별회원">
	    <div class="Admin_Notice_SendBox">
			<mat-form-field appearance="outline">
				<mat-label>알림메세지</mat-label>
				<textarea cdkTextareaAutosize cdkAutosizeMinRows="1.2" cdkAutosizeMaxRows="5" matInput placeholder="알림메세지를 입력해주세요."
						  #Group2_message maxlength="720"></textarea>
				<mat-hint align="start"><strong>720자 내외로 메세지 작성이 가능합니다.</strong> </mat-hint>
    			<mat-hint align="end">{{Group2_message.value.length}} / 720</mat-hint>
			</mat-form-field>
			<button mat-stroked-button class="NextBtn">메세지 전송</button>
		</div>
	  
	  </mat-tab>
	  
	  <mat-tab label="일반회원">
	    <div class="Admin_Notice_SendBox">
			<mat-form-field appearance="outline">
				<mat-label>알림메세지</mat-label>
				<textarea cdkTextareaAutosize cdkAutosizeMinRows="1.2" cdkAutosizeMaxRows="5" matInput placeholder="알림메세지를 입력해주세요."
						  #Group3_message maxlength="720"></textarea>
				<mat-hint align="start"><strong>720자 내외로 메세지 작성이 가능합니다.</strong> </mat-hint>
    			<mat-hint align="end">{{Group3_message.value.length}} / 720</mat-hint>
			</mat-form-field>
			<button mat-stroked-button class="NextBtn">메세지 전송</button>
		</div>
	  
	  </mat-tab>
	  
	</mat-tab-group>

</div>